// Mixins Here

.flex(@direction, @justify, @align) {
	display: flex;
	flex-direction: @direction;
	justify-content: @justify;
	align-items: @align;
}

.buttonMix(@bg, @color, @fontSize, @padding, @width) {
	background-color: @bg;
	color: @color;
	font-size: @fontSize;
	padding: @padding;
	width: @width;
	text-align: center;
	display: inline-block;
	border-radius: 5px;

	@media @phone {
		display: block;
		width: 100%;
		padding: 3rem;
	}
}
